
.Example__container {
    max-width: 56rem;
    margin: 0 auto;
}

#Example h2
{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 6rem;

}
.Example__content{
    height:auto;
    /* max-width: 68rem; */
    width: 58.8rem;
    background: #f4f6f7;
    
   
}
.Example__content__head{
    padding: 3.5rem;
    font-size: 1.8rem ;
    font-style: italic;
}
.Example__content__footer{
    padding: 3.5rem;
    font-size: 1.8rem ;
    font-style: italic;
}
.Example__content img{
    width: 100%;
}
.slick-prev:before{
    color: black;
    
}
.slick-arrow:before{
    color: black;
   
}