footer  .container{
   
}
.footer__wrapper{
    display: flex
    
   

}
.container__footer{
    max-width: 992px;
    margin: 0 auto;
}
.footer__left .footer__Gene{
    font-size: 1.6rem;

}
.footer__right{
    margin-left: 5rem;
}
.footer__right ul{
    list-style: none;
}
.footer__right ul li{
    display: inline-block;
    color: black;
    margin-right: 2rem;
}
.footer__right ul li a{
    color: black;
    transition: all .3s linear;
}
.footer__right ul li a:hover{
    color: #2d75db;
}
.copy{
    color: #7f8c8d;
  font-size: 15px;
}
.lineFooter{
    width: 992px;
    margin: 2rem auto;
    border: 1px solid #ecf0f1;
}