.ideas__container{
    max-width: 690px;
    margin: 0 auto ;
}
.new__ideas h2::before{
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='26'%3E%3Cg fill='%233586F8' fill-rule='evenodd'%3E%3Cpath fill-rule='nonzero' d='M26.181 1.852c-3.2-2.177-7.279-2.048-10.917-1.3-2.73.552-5.39 1.527-7.75 2.925-.134-.13-.336-.195-.606-.195-3.37.325-5.29 3.054-6.133 6.012-1.112 3.933-.202 8.352 2.36 11.57 2.256 2.828 5.66 4.55 9.3 5.005 4.279.552 8.525-1.495 11.828-3.933 3.235-2.373 6.367-5.492 6.436-9.652.034-1.983-.708-4.16-1.348-6.046-.642-1.688-1.653-3.346-3.17-4.386zm-1.685 17.81C19.24 24.18 11.962 26.26 6.098 21.549c-2.763-2.21-4.044-5.427-4.078-8.808-.034-1.82.438-4.225 1.65-5.884.068.617.877 1.105 1.416.553C9.434 3.12 17.42.292 23.452 2.275c3.571 1.137 4.448 4.777 5.189 7.897.976 4.063-1.112 6.857-4.145 9.49z'/%3E%3Cpath d='M19.982 6.825a71.719 71.719 0 01-3.707 7.767 55.891 55.891 0 01-2.156 3.542c-.034.033-2.998-3.055-3.235-3.348-.64-.846-2.089-.033-1.45.812 1.012 1.365 2.258 2.892 3.774 3.803 1.281.747 1.988.129 2.662-.942 2.326-3.542 4.213-7.312 5.762-11.212.372-.975-1.246-1.397-1.65-.422z'/%3E%3C/g%3E%3C/svg%3E");
    margin-right: 1.5rem;
    
}
.new__ideas h2{
    text-align: center;
    font-weight: 500;
    font-size:3rem;
    line-height: 3.4rem;
     margin-bottom: 1.2rem;
    
}
.new__ideas p{
    text-align: center;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 6rem;
}
/* professionals */
.professionals  .professionals__title{
    margin-bottom: 3.2rem;
    color: #7f8c8d;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
}
.professionals ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.professionals ul li{
  list-style: none;
  display:inline-block;
  margin-bottom: 4rem;
}
.devide{
    width: 18rem;
    height: 2px;
    background-color: #ecf0f1;
    margin: 0 auto 6rem ;
    opacity: 0.2;
}
/*you__learn  */
.you__learn .learn__title{
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.4rem;
    margin-bottom: 2.6rem;
}
.you__learn .learn__logo{
    list-style: none;
}
.learn__logo{
    display: flex;
    margin-bottom: 2.5rem;
}
.learn__logo .logo__img img{
     width: 6rem;
     transform: translateY(1rem);
}
.learn__logo   img{
    display: inline-block;
}
.learn__logo p b{
   font-size: 2rem;
}
.learn__logo p {
    padding-left: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
} 

 .you__learn .learn__logo .logo__reduce{
    margin-left: 0;
}
.inside__hunt{
    text-align: center;
}
.inside__hunt a{
    display: inline-block;
    margin-top: 6.2rem;
    margin-bottom: 7rem;
}
.hunt__title{
  font-size: 2.5rem;
   margin-bottom: 1rem;
}
.hunt__image__attached {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.hunt__image__attached img{
    margin-right: 1.3rem;
}
.hunt__image__attached{
    color: #7f8c8d;
    font-size: 1.5rem;
    line-height: 1.73;
    letter-spacing: 0.1rem;
}
/* .underline{
    background-image: url("../public/img/underline-2-e53d1c2902.svg");
    height: 10px;
    width: 100px;
    background-repeat: no-repeat;
    
} */
.hunt__title {
    position: relative;
   
}
.icon-left{
    position: absolute;
    top: 5px; 
    left:8rem;
    font-size: 1.5rem;
}
.icon-right{
    position: absolute;
    top: 5px; 
    right:8rem;
    font-size: 1.5rem;
}
/* Đường underline cho từ "good" */
.underline {
    position: relative;
    display: inline-block;
}
.underline-good::after {
    content: "";
    position: absolute;
    height: 5px;
    width:100%; /* Chiều dài underline */
    background-image: url("../public/img/underline-1-36bf0daa9a.svg");
    background-repeat: no-repeat;
    bottom: 3px; /* Khoảng cách từ từ tới underline */
    left: 0;
    display:inline-block ;
}

/* Đường underline cho từ "lots" */
.underline-lots::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 60px; /* Chiều dài underline */
    background-image: url("../public/img/underline-2-e53d1c2902.svg");
    background-repeat: no-repeat;
    bottom: 3px; /* Khoảng cách từ từ tới underline */
    left: 0;
}


